[submodule "02-intro-javascript"]
	path = 02-intro-javascript
	url = https://github.com/kelerex123/seccion2.git
[submodule "03-counter-app"]
	path = 03-counter-app
	url = https://github.com/kelerex123/proy3-y-test
[submodule "04-gif-expert-app"]
	path = 04-gif-expert-app
	url = https://github.com/kelerex123/react-curso-gifExpert
[submodule "05-hook-app"]
	path = 05-hook-app
	url = https://github.com/kelerex123/react-hooks.git
[submodule "06-repo-hooks"]
	path = 06-repo-hooks
	url = https://github.com/kelerex123/my-custom-hooks.git
